{% extends 'base.html' %}
{% block content %}

<h2>Student Registration</h2>

<form class="box" method="POST">
    <label>Full Name</label>
    <input type="text" name="name" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <label>Roll Number</label>
    <input type="text" name="roll_number">

    <label>Department</label>
    <input type="text" name="department" placeholder="e.g. Computer Science">

    <label>Semester</label>
    <input type="number" name="semester" min="1" max="8">

    <label>Skills</label>
    <input type="text" name="skills" placeholder="e.g. Python, MySQL">

    <button type="submit">Register</button>
</form>

{% endblock %}
